/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,700&display=swap');
@font-face {
    font-family: 'Recoleta';
    src: url('./fonts/RecoletaAlt-Black/RecoletaAlt-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
  }
body{
    margin: 16px;
    font-family: 'Nunito', sans-serif;
    background-color: #EEF3F7;
}
.circle{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-image: url("../images/profile.jpg");
    background-position: contain;
    background-size: cover;
    background-repeat: no-repeat;
}
/*HEADER*/
header{
    background-color: #7D4CFF;
    font-family: 'Recoleta', sans-serif;
    color: #EEF3F7;
    text-align: center;
    border-radius: 10px;
    height: 83px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns:  1fr 2fr 1fr;
    align-items: center;
}
header h1{
    grid-column: 2;
    font-size: 24px;
}
header nav{
    grid-column: 3;
    margin: 0px;
}
header nav ul{
    display: flex;
    list-style: none;
    margin-left: -16px;
    margin-right: 8px;
    padding: 8px;
    gap: 8px;
}
header .backbtn{
    grid-column: 1;
    padding-left: 16px;
}
/*BUTTONS*/
.purpleBtn{
    background-color: #7D4CFF;
    border-radius: 10px;
    padding: 8px;
    border: none;
    height: 46px;
    width: 136px;
    margin-left: 50%;
    margin-top: 64px;
    transform: translate(-50%, -50%);
}
.purpleBtn a{
    text-decoration: none;
    color:#EEF3F7
}
/*SEARCH*/
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}
.search input{
    border-radius: 4px;
    padding: 8px;
    width: 100%;
    border: 1px solid #D0D5D9;
}
/*SECTION*/
section{
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
}
section a{
    text-decoration: none;
    color: black;
}
/*PROFILE SECTION*/
#section-profile h2,#section-secretWords h2, section h2{
    background-color: #9777F4;
    color: #EEF3F7;
    padding: 8px;
    padding-left: 26px;
    border-radius: 10px;
}
#section-profile form label, #section-secretWords label{
    color: #9777F4;
}
#section-profile form input{
    border: none;
    width: 100%;
    border-bottom: 1px solid black;
    background-color: transparent;
}
#section-profile form button{
    border: none;
    background-color: transparent;
    margin-left: -40px;
}
#section-profile form .textInput{
    position: relative;
}
#section-profile form #username::before{
    content: "";
    background-image: url("../images/profile.jpg");
    background-size: contain;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;    
}
#section-profile form #password::before{
    content: "";
    background-image: url("../images/password.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;    
}
#section-profile form #phonenumber::before{
    content: "";
    background-image: url("../images/phonenumber.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;    
}
/*SECRET WORDS SECTION*/
#section-secretWords select{
    width: 100%;
    border: 1px solid #D0D5D9;
    border-radius: 4px;
    background-color: transparent;
    padding: 8px;
}
/*FRIEND REQUEST*/
.friendRequest{
    background-color: #E2EBF2;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    padding-right: 8px;
}
/*SECTION AVAILABLE*/
.section-available{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*SLIDER*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    border-radius: 10px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #7D4CFF;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #7D4CFF;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Kleur van de slider veranderen wanneer deze gesleept wordt */
  .slider::-moz-range-thumb {
    background-color: #7D4CFF;
  }
  
  .slider::-webkit-slider-thumb {
    background-color: #7D4CFF;
  }
  