/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,700&display=swap');
@font-face {
    font-family: 'Recoleta';
    src: url('./fonts/RecoletaAlt-Black/RecoletaAlt-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
  }
body{
    margin: 16px;
    font-family: 'Nunito', sans-serif;
    background-color: #EEF3F7;
}
/*HEADER*/
header{
    background-color: #7D4CFF;
    font-family: 'Recoleta', sans-serif;
    color: #EEF3F7;
    text-align: center;
    border-radius: 10px;
    height: 83px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns:  1fr 2fr 1fr;
    align-items: center;
}
header h1{
    grid-column: 2;
    font-size: 24px;
}
header nav{
    grid-column: 3;
    margin: 0px;
}
header nav ul{
    display: flex;
    list-style: none;
    margin-left: -16px;
    margin-right: 8px;
    padding: 8px;
    gap: 8px;
}
header .backbtn{
    grid-column: 1;
    padding-left: 16px;
}
/*SECTION*/
section{
    margin-top: 16px;
    margin-left: 16px;
}
section a{
    text-decoration: none;
    color: black;
}
/*PROFILE SECTION*/
#section-profile form label{
    color: #9777F4;
}
#section-profile form input{
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
}
#section-profile form button{
    border: none;
    background-color: transparent;
    margin-left: -32px;
}
#section-profile form .textInput{
    position: relative;
}
#section-profile form #username::before{
    content: "";
    background-image: url("../images/profile.jpg");
    background-size: contain;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;    
}
#section-profile form #password::before{
    content: "";
    background-image: url("../images/password.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;    
}
#section-profile form #phonenumber::before{
    content: "";
    background-image: url("../images/phonenumber.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;    
}